<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="styles.css">
<title>Page Title</title>
</head>
<body>


  <div id="users">
    <!--the user List-->
    <div v-for="user in user" class="user">
      {{user.name}} from IP {{user.ip}}
      <br>
      {{user.lastConnectedTime}} {{user.lastMessage}}
    </div>

  </div>
  <div id="chat" >
    <!--all the messages-->
    <div v-for="message in message" class="chatMessages">
      {{message.time}} ==>> {{message.text}}
    </div>
    <div id="inputMessage">
      <!--input messages -->
      <h1>{{title}}</h1>
    </div>
  </div>



<script src="app.js"></script>

</body>
</html>
